* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 1140px;
    margin: 0 auto;
}

.my-110 {
    margin: 110px 0;
}

.center {
    text-align: center;
}

.btn-primary {
    background-color: tomato;
    border: 0;
    border-radius: 5px;
    padding: 12px 18px;
    color: #fff;
    font-size: 18px;
}

.section-content {
    margin-bottom: 50px;
}

.section-title,
.contribute-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-description,
.contribute-description {
    color: rgba(85, 84, 84, 0.815);
}

/* header section styles */
.header {
    background-image: url(../images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000069;
    background-blend-mode: multiply;
}

.banner {
    width: 50%;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3.2em;
    font-weight: 800;
}

.banner-description {
    color: rgba(255, 255, 255, 0.829);
    margin: 10px 0 30px;
}

/* Donate Today Section Styles */
.donate-today {
    padding: 0 230px;
}

.donate-amount {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.amount {
    padding: 35px 25px;
    border-radius: 5px;
    color: #707070;
    font-size: 24px;
    font-weight: bold;
    background-color: #FAFAFA;
}

.active {
    background-color: #ff63471e;
    color: #FF6347;
    border: 2px solid #FF6347;
}

.input-your-amount {
    margin-top: 55px;
}

input[type=number] {
    margin-bottom: 25px;
    width: 100%;
    border: 0;
    outline: none;
    padding-bottom: 10px;
    font-size: 17px;
    color: #E0E0E0;
    border-bottom: 1px solid #ddd;
}

/* Donate Plan Section Styles */

.donate-plan .section-content .section-description {
    padding: 0 250px;
}

.plans {
    display: flex;
    gap: 20px;
}

.single-plan {
    border-radius: 5px;
    padding: 50px 20px;
}

.plan-title {
    margin: 20px 0;
    color: #121212;
}

.plan-description {
    color: #707070;
    font-size: 14px;
}

#plan-1 {
    background-color: #EDF5F6;
}

#plan-2 {
    background-color: #FFEEEE;
}

#plan-3 {
    background-color: #FFF4D6;
}

/* Contribute Section Styles */
.contribute-1 {
    margin-bottom: 90px;
}

.contribute-1,
.contribute-2 {
    display: flex;
    gap: 80px;
    padding-right: 80px;
}

.how-contribute {
    margin-top: 50px;
}

.contribute-description {
    margin-bottom: 25px;
    width: 80%;
}

.contribute-thumbnail {
    width: 40%;
    border-radius: 5px;
}

/* Updates Section Styles */
.updates {
    padding: 0 220px;
}

.updates .section-content .section-description {
    padding: 0 100px;
}

.subscribe-here {
    background-color: #FFF4D6;
    padding: 70px 0;
    border-radius: 5px;
}

input[type=email] {
    background-color: #D9D9D9;
    color: #AA9F9F;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: 0;
    padding: 9px 18px;
    width: 30%;
}

.subscribe-btn {
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    margin-left: -5px;

}

/* Footer Section Styles */
.footer-bg {
    background-color: #0B0D17;
}

.footer-content {
    padding: 40px 0;
}

.footer-title {
    font-family: cursive;
    margin-bottom: 20px;
    color: #FF6347;
}

.footer-description {
    color: rgba(255, 255, 255, 0.733);
    font-size: 12px;
}